@import url(../styles/vendor/font-awesome.min.css);

@font-face {
    font-family: 'eutemia';
    src: url(../fonts/eutemia-i.italic.ttf);
}

html, body {
    font-family: Arial, sans-serif;
    margin: 0 auto;
}

a {
    text-decoration: none;
}