@import url(../styles/vendor/font-awesome.min.css);

@font-face {
    font-family: 'deftone-stylus';
    src: url(../fonts/deftone-stylus.ttf);
}

@font-face {
    font-family: 'DroidSansFallback';
    src: url(../fonts/DroidSansFallback.ttf);
}

html, body {
    font-family: 'DroidSansFallback';
    margin: 0 auto;
}

a {
    text-decoration: none;
}